@model Falcon.Models.DataModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}



<head>
    <style>
        h1 {
            text-align: center;
            color: red;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        .row .col-md-4 {
            border: none;
            margin-left: 38%;
            margin-bottom: 10%;
        }

        input {
            border: solid 2px black;
            margin: 10px 7px;
        }

        label {
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }

        a.back {
            border-radius: 5px;
            text-decoration: none;
            background: Red;
            color: white;
            padding: 10px 8px;
        }
    </style>

</head>

<h1>Update Data</h1>


            

<body>

<div class="row">
    
   
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="reset" value="Clear" class="btn btn-danger" />
                    <a href="@Url.Action("Contact","First")" class="back">Back To List</a>
                
            </div>
        </form>
    </div>
</div>


</body>

