@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="contain">
    <div class="row">
        <div class="col-md-4">
            <a target="_blank" href="img_5terre.jpg">
                <img src="~/images/fas.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>


        <div class="col-md-4">
            <a target="_blank" href="img_forest.jpg">
                <img src="~/images/fas2.jfif" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="col-md-4">
            <a target="_blank" href="img_lights.jpg">
                <img src="~/images/fas5.jfif" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/row 2.1.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="col-md-4">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/row2.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="col-md-4">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/row 2.2.webp" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="~/images/fas6.jpg" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="~/images/row2.3.webp" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="~/images/row4.jpg" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<div class="space"></div>

