@{
    Layout = "~/Views/Shared/_Layout_1.cshtml";
    <link rel="stylesheet" href="~/css/web.css" />
}



<br />
<br />
<br />
<section class="course">
    <h1><i>Products We Offer</i></h1>

    <div class="row">
        <div class="col-md-4">
            <h2>Eastren</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-md-4">
            <h2>Westren</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-md-4">
            <h2>Combo of East & West</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
</section>
<section class="contain">
    <h1><i>Our Ambition</i></h1>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/row 2.1.jpg" />
        </div>
        <div class="col-md-4">
            <img src="~/images/row2.3.webp" />
        </div>
        <div class="col-md-4">
            <img src="~/images/fas7.jpg" />
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<section class="distance">
    <a href="@Url.Action("Products","Home")" class="sizechart">View More Products</a>

</section>
<!--<div class="footer">
    <h2><i>Product Quality</i></h2><br>
    <p><I>There are lot of products in market. Multiples online platforms are available on which you can freely explore. But D'ZIRE is unique brand with best quality. <br>We have a huge variety of cotton, silk, lilen, winter season, autumn season. Zuhaz provides the widest range of designer dresses with all the latest fashion trends <br>in Pakistan and beyond. We are a highly preferable Pakistani dresses online boutique where you can find the latest Pakistani dresses always available.D'ZIRE is an <br>eastern wear clothing brand that is known for its use of colorful eastern aesthetics and combining them with modern trends. The brand is one of the most established<br> and renowned clothing companies in Pakistan that is loved for its unmatched quality, as well as remarkable pricing.There are lot of products in market. Multiples online <br /> platforms are available on which you can freely explore. But D'ZIRE is unique brand with best quality.We have a huge variety of cotton, silk, lilen, winter season, autumn .<br /> season Zuhaz provides the widest range of designer dresses with all the latest fashion trends in Pakistan and beyond. We are a highly preferable Pakistani dresses online <br />boutique where you can find the latest Pakistani dresses always available.D'ZIRE is an eastern wear clothing brand that is known for its use of colorful eastern aesthetics<br /> and combining them with modern trends. The brand is one of the most establishedand renowned clothing companies in Pakistan that is loved for its  quality, as well as<br /> remarkable pricing. There are lot of products in market. Multiples online  platforms are available on which you can freely explore.But D'ZIRE is unique brand with  best  <br /> quality. We have a huge variety of cotton, silk, lilen, winter season, autumn season. Zuhaz provides the widest range of designer dresses with all the latest fashion trends <br>in Pakistan and beyond. We are a highly preferable Pakistani dresses online boutique where you can find the latest Pakistani dresses always available.D'ZIRE is an <br>eastern wear clothing brand that is known for its use of colorful eastern aesthetics and combining them with modern trends. The brand is one of the most established<br> and renowned clothing companies in Pakistan that is loved for its unmatched quality, as well as remarkable pricing.There are lot of products in market. Multiples online<br />  are available on which you can freely explore. But D'ZIRE is unique brand with best quality.We have a huge variety of cotton, silk, lilen, winter season, autumn season.<br />  Zuhaz provides the widest range of designer dresses with all the latest fashion trends in Pakistan and beyond. We are a highly preferable Pakistani dresses  boutique<br /> where you can find the latest Pakistani dresses always available.D'ZIRE is an eastern wear clothing brand that is known for its use of colorful eastern aesthetics <br />combining them with modern trends. The brand is one of the most established and renowned clothing companies in Pakistan that is loved for its unmatched quality,<br /> as well as remarkable pricing. Wanna Explore it's<br /><br /> <a href="@Url.Action("Products","Home")" class="sizechart">Size Chart</a> </I></p>
    <br><br><br><br>

</div>
--->
